<!DOCTYPE html>
<html>
  <head>
    <title>klotter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Like Doodle in english ou Griffonage en français">
    <meta property="og:title" content="klotter">
    <meta property="og:description" content="Like Doodle in english ou Griffonage en français">
    <meta property="og:image" content="<%= asset_path('klotter.png') %>">
    <meta property="og:url" content="https://stormy-anchorage-11664-2a9317c969e2.herokuapp.com/">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon_klotter.png') %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
